.assets-table-container .p-datatable {
    font-size: 12px;
    margin: 10px;
    border: 1px solid;
    overflow: scroll;
    max-height: 80vh;
}

.assets-table-container .p-datatable-table {
    border-spacing: 2px 0;
}

.assets-table-container .p-datatable .p-datatable-wrapper {
    overflow: initial;
}

.assets-table-container .p-datatable .p-datatable-thead>tr>th {
    color: #0f3c8f;
    background: aliceblue;
    text-align: center;
    padding: 0 15px;
}

.assets-table-container .p-datatable .p-column-header-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* gap: 5px; */
}

.assets-table-container .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
}

.assets-table-container .p-datatable .p-sortable-column .p-sortable-column-icon {
    /* margin-left: 0; */
    margin: 0 3px 0 0;
}

.assets-table-container {
    /* text-align: center; */
}

.assets-table-container header {
    /* background-color: rgb(177, 134, 218); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 20px;
    padding: 0 2px;
}

.assets-table-container header h2 {
    margin: 0;
}

.assets-table-container header .table-search-container {
    position: absolute;
    left: 45%;
}

.checkbox-column .p-column-header-content {
    /* width: 82%; */
}