.knobs-container {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(2, 130px);
    margin: 5px;
    background: whitesmoke;
    box-shadow: inset 0px 0px 10px 8px #c1c1c1b8;
    /* flex-grow: 1; */
}

.knobs-container div {
    text-align: center;
    padding: 5px;
}

.knobs-container div strong {
    color: #707070;
    font-size: 14px;
}