.tiles-container {
    background: #c8c8c8;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(5, 109px);
    width: fit-content;
    height: fit-content;
    padding: 4px 4px 0 0;
    margin: 5px;
}

.tiles-container div {
    background: whitesmoke;
    width: 145px;
    /* height: 82px; */
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 7px;
    box-shadow: inset 0px 0px 10px 8px #c1c1c1b8;
}

.tiles-container div:hover {
    box-shadow: inset 0px 0px 10px 11px #c1c1c1b8;
}

.tiles-container div h4 {
    margin: 3px;
}

.all,
.rentEndingDate,
.closeExitPoints,
.activeStatus,
.nonActiveStatus {
    grid-column: 1;
}

.pendingStatus,
.bankBeinleumi,
.bankMasad,
.unitedPayments,
.detailedPayments {
    grid-column: 2;
}

.newContract,
.paymentsProducing,
.united,
.reports,
.ongoingPayments {
    grid-column: 3;
}


.all,
.pendingStatus,
.newContract {
    grid-row: 1;
}

.rentEndingDate,
.bankBeinleumi,
.paymentsProducing {
    grid-row: 2;
}

.closeExitPoints,
.bankMasad,
.united {
    grid-row: 3;
}

.activeStatus,
.unitedPayments,
.reports {
    grid-row: 4;
}

.nonActiveStatus,
.detailedPayments,
.ongoingPayments {
    grid-row: 5;
}